@import "../../../app/css/variables";


.radio-switcher {
    .btn {
        border-radius: 0;

        &:first-child {
            border-radius: $radius 0 0 $radius;
        }

        &:last-child {
            border-radius: 0 $radius $radius 0;
        }
    }
}