@keyframes ldio-b2caqbeydll {
    0% {transform: translate(-50%, -50%) rotate(0deg);}
    100% {transform: translate(-50%,-50%) rotate(360deg);}
}
.ldio-b2caqbeydll div {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid rgb(30, 30, 30);
    border-top-color: transparent;
    border-radius: 50%;
}
.ldio-b2caqbeydll div {
    animation: ldio-b2caqbeydll 1s linear infinite;
    top: 8px;
    left: 8px;
}
.loadingio-spinner-rolling-1en6plzu7rki {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    overflow: hidden;
    background: none;
}
.ldio-b2caqbeydll {
    width: 100%;
    height: 100%;
    position: relative;
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.ldio-b2caqbeydll div {box-sizing: content-box;}