@import "../../../app/css/variables";


@keyframes spinner {
    0% {transform: translate(-50%, -50%) rotate(0deg);}
    100% {transform: translate(-50%,-50%) rotate(360deg);}
}
:global(.btnSpinner) div {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid rgb(30, 30, 30);
    border-top-color: transparent;
    border-radius: 50%;
}
:global(.btnSpinner) div {
    animation: spinner 1s linear infinite;
    top: 8px;
    left: 8px;
}
:global(.btnSpinnerWrapper) {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    overflow: hidden;
    background: none;

    margin-right: 5px;
}
:global(.btnSpinner) {
    width: 100%;
    height: 100%;
    position: relative;
    backface-visibility: hidden;
    transform-origin: 0 0;
}
:global(.btnSpinner) div {box-sizing: content-box;}